@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-heading {
  background: #1a73e826;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.contact-btn {
  width: Hug (139px) px;
  height: Hug (28px) px;
  padding: 0px 8px 0px 8px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 17.02px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #1a73e8;
}

.course-btn-icon {
  transition: all 0.15s ease-in-out;
}
.course-btn:hover .course-btn-icon {
  rotate: 180deg;
}

.navbar li:has(> a.active) {
  border-bottom: 1px solid #1a73e8;
}

.navbar li:hover {
  border-bottom: 1px solid #1a73e8;
  background-color: rgb(148 163 184 / 0.2);
}

.refer-navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.refer-navbar-container .refer-navbar {
  max-width: 763px;
  width: 100%;
  border-radius: 38px;
  display: flex;
  align-items: center;
  height: 63px;
}

.refer-navbar .nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
/* Style for the navigation links */
.nav-ul a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  position: relative;
  cursor: pointer;
}

/* Active state indicator (blue dot) */
.nav-ul a.active::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #3490dc; /* Blue color */
  border-radius: 50%;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  @apply mr-4;
}

.nav-link {
  @apply inline-block py-2 px-4;
  border-radius: 50px;
}

.nav-link:hover {
  background-color: #1a73e8;
  color: #ffffff;
}
.tab-content {
  @apply p-4;
}

.tab-pane {
  @apply hidden;
}

.tab-pane.active {
  @apply block;
}

.refer-header {
  background: #eef5ff;
  box-shadow: 0px 4px 25px 1px #00072b36;

  border-radius: 29px;
}

.people-phone {
  position: relative;
  top: 25px;
  z-index: 1;
}
.image-container,
.content {
  position: relative; /* Make the container a positioning context */
  overflow: hidden;
}

.money {
  position: absolute; /* Position the money images absolutely */
  width: 100px;
}

.money1 {
  top: -30px;
  left: 0px;
}

.money2 {
  top: 0px; /* Position money2 30px from the top */
  right: 20px; /* Position money2 20px from the right */
}

.money3 {
  bottom: 50px;
  left: 63px;
  z-index: 2;
}

.money4 {
  top: 33px;
  right: 365px;
  z-index: 0;
}
.money5 {
  bottom: 220px; /* Position money4 20px from the bottom */
  right: 10px;
  /* Position money4 30px from the right */
}
.content-box {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: start;
  margin-left: 3rem;
  flex-direction: column;
}
.content-box h1 {
  font-family: Roboto;
  font-size: 5rem;
  font-weight: 600;

  text-align: left;
}
.refer-process {
  max-height: 785px;
  height: 100%;
  background-color: #eef5ff;
}

.refer-process .process-heading,
.referel-benifits .heading,
.faq .heading {
  font-weight: 600;
  font-size: 27.66px;
  text-align: center;
  color: #1a202c;
  padding: 2rem;
}
.refer-process .process-heading span,
.referel-benifits .heading span,
.faq .heading span {
  color: #1a73e8;
}
.process-card-box {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.progressBackground {
  z-index: 0;
  position: absolute;
}

.process-card {
  position: relative;
  z-index: 1;
}

.process-card .content {
  text-wrap: wrap;
  max-width: 193px;
}

.program-nav {
  box-shadow: 0px 1px 24.4px 1px #00000029;
  border-radius: 8px !important;
  padding: 0 !important;
}
.MuiListItem-root {
  border-radius: 8px !important;
  padding-right: 0 !important;
  width: 100%;
}
.MuiListItem-root .MuiListItemIcon-root {
  padding: 8px !important;

  display: flex;
  justify-content: end;
  margin: 0 !important;
}
.tableHeading {
  font-weight: 700 !important;
}
.tableHeading th {
  font-weight: 700 !important;
  color: #1350a0 !important;
  font-size: 18px;
}

.table-box {
  max-width: 921px !important;
  background-color: #ebf3ff59 !important;
  box-shadow: 0px 4px 29.3px 0px #3c3c3c26;
  border-radius: 14px;
  max-height: 561px;
}
.tableContent {
  display: flex;

  gap: 10px;
}

/* on of switch */
input[type="checkbox"].enrolled-switch {
  opacity: 0;
  position: absolute;
}
input[type="checkbox"].enrolled-switch + .enrolled-switch-lable {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
input[type="checkbox"].enrolled-switch + .enrolled-switch-lable::before {
  content: "";
  width: 2em;
  height: 1em;

  background-color: #ffffff;
  border-radius: 1em;

  transition: background-color 200ms ease-in-out;
  border: 1.5px solid #3c4852;
}
input[type="checkbox"].enrolled-switch + .enrolled-switch-lable::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  font-size: 0.4em;
  height: 0.9em;
  left: 0.4em;

  width: 1.8em;
  height: 1.8em;
  background-color: #ccc;
  color: #1a202c;
  border-radius: 1em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}
input[type="checkbox"].enrolled-switch:checked + .enrolled-switch-lable {
  color: red;
}

input[type="checkbox"].enrolled-switch:checked + label::after {
  left: 1em;
  transform: translateX(100%);
  background-color: #1a73e8;
}

.MuiTabs-flexContainer{
  justify-content: center !important;
  align-items: center !important;
}

.faq .faq-btn {
  min-height: 69px;
  height: 100%;
  background-color: #ffffff;
  color: #737373;
  border: 2px solid #737373;
  border-radius: 7px;
  font-weight: 600;
  padding: 10px 30px;
  min-width: 259px;
  font-size: 16px;
  margin-top: 12px;
  max-width: 259px;
}

.faq .faq-btn:hover {
  color: #ffffff;
}

.faq .Mui-selected {
  border: 2px solid #e2e8f0;

  color: #ffffff;
  box-shadow: 0px 2px 26.6px 0px rgba(0, 0, 0, 0.18);
}
.faq .MuiTabs-indicator {
  display: none;
}

.MuiAccordion-root,
.MuiAccordionSummary-root,
.MuiAccordionSummary-content,
.MuiAccordion-root::before {
 
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.MuiAccordionSummary-content p {
  font-weight: 600 !important;
}
.MuiAccordionSummary-root,
.MuiAccordionSummary-content.Mui-expanded {
  color: #1a73e8;
}
.MuiAccordionDetails-root {
  padding-left: 30px !important;
}
